<section class="editor">
  <h2 title="Title">Title</h2>

  <div>
    <ul class="palette">
      {{#each itemController="color"}}
        <li {{bind-attr style=style}}>
          <span class="name">{{title}}</span>
          <span class="color">{{color}}</span>
          <button {{action "removeColor"}} class="delete">X</button>
        </li>
      {{/each}}
    </ul>

    <button {{action "createColor"}} class="add-color"><span>+</span></button>
  </div>

</section>