<section class="editor">
  {{#if isEditing}}
    {{textfield-refocus class="edit--title" value=title insert-newline="acceptChanges" focus-out="acceptChanges"}}
  {{else}}
    <h2 {{bind-attr title=title}} {{action "editPalette" on="doubleClick"}}>{{title}}</h2>
  {{/if}}

  <div>
    <ul class="palette">
      {{#each color in model.colors}}
        {{render 'color' color}}
      {{/each}}
      <li class="color new">
        <button {{action "createColor"}} class="add-color"><span>+</span></button>
      </li>
    </ul>
  </div>

</section>